.detailWrapper {
  width: 620px;
  margin: 0 auto;
}

.detailHeader {
  margin: 50px 0 20px 0;
  font-size: 34px;
  line-height: 44px;
  color: #404040;
  font-weight: bold;
}

.detailContent {
  color: #2f2f2f;
}

.detailContent img {
  width: 100%;
}

.detailContent p {
  margin: 25px 0;
  font-size: 16px;
  line-height: 30px;
}